<form class="well form-horizontal" action=" " method="post" id="contact_form">
    <fieldset>

        <!-- Form Name -->
        <legend>Demografia</legend>

        <!-- Text input-->

        <div class="form-group">
            <label class="col-md-4 control-label">Nombre</label>
            <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input name="first_name" class="form-control" type="text" ng-model="nombre">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">Nacionalidad</label>
            <div class="col-md-4 selectContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                    <select name="state" class="form-control selectpicker">
                        <option value=" " >Please select your state</option>
                        <option value=" " >Japonesa</option>
                        <option value=" " >EE.UU</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">Autores</label>
            <div class="col-md-4 selectContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                    <select multiple name="state" class="form-control selectpicker">
                        <option value=" "></option>
                        <option value=" "  ng-repeat="autor in autores">{{autor.nombre}} {{autor.apellido}}</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">Demografia</label>
            <div class="col-md-4 selectContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                    <select name="state" class="form-control selectpicker">
                        <option value=" "></option>
                        <option value=" "  ng-repeat="demo in demografia">{{demo.nombre}}</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">Género</label>
            <div class="col-md-4 selectContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                    <select multiple name="state" class="form-control selectpicker">
                        <option value=" "></option>
                        <option value=" "  ng-repeat="genero in genero">{{genero.nombre}}</option>
                    </select>
                </div>
            </div>
        </div>

        <input type="file" name="foo" ng-model="foo" />
    </fieldset>
</form>
<button type="button" class="btn btn-default btn-lg" ng-click="save(nombre,apellido,foo)">
  <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>Save
</button>